html, body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}
* {
  box-sizing: border-box;
  font-size: inherit;
  outline: none;
}

body {
  padding: 10px;
  background-color: #363940;

  font-size: 16px;
}


.editor {
  padding-inline: 10%;
}

.editor > .toolbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  
  height: 3rem;
  background-color: #32353B;

  border-radius: 5px;
}
.toolbar > * {
  height: 80%;
  aspect-ratio: 1;
  background: black;
  border-radius: 5px;
}
.toolbar > .toggle.selected {
  background: red;
}

.editor > .text {
  margin-top: 10px;
  padding: .5em;
  width: 100%;
  background-color: #303136;

  border: solid 1px #222327;
  border-radius: 4px;

  font-family: monospace;
  font-size: 0.875rem;
  line-height: 1.125rem;
  color: hsl(216, 3.7%, 73.5%);

  resize: none;
}
.text > span.c0 { /* 30 */
  color: #4f545c;
}
.text > span.c1 { /* 31 */
  color: red;
}
.text > span.c2 { /* 32 */
  color: #5f0;
}
.text > span.c3 { /* 33 */
  color: yellow;
}
.text > span.c4 { /* 34 */
  color: aqua;
}
.text > span.c5 { /* 35 */
  color: pink;
}
.text > span.c6 { /* 36 */
  color: #0f5;
}
.text > span.c7 { /* 37 */
  color: #fff;
}
.text > span.b0 { /* 40 */
  background-color: #052B39;
}
.text > span.b1 { /* 41 */
  background-color: #CA4B16;
}
.text > span.b2 { /* 42 */
  background-color: #5B6D75;
}
.text > span.b3 { /* 43 */
  background-color: #647D81;
}
.text > span.b4 { /* 44 */
  background-color: #809496;
}
.text > span.b5 { /* 45 */
  background-color: #6C73C3;
}
.text > span.b6 { /* 46 */
  background-color: #96A0A1;
}
.text > span.b7 { /* 47 */
  background-color: #FEF5E2;
}
.text > span.f1 {
  text-decoration: underline;
}
.text > span.f4 {
  font-weight: bold;
}